{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block contents %}

{% if messages %}
<div class="container text-center">
{% else %}
<div class="container text-center" style="margin-top: 6rem">
{% endif %}
    <div class="row">
        <h1>{% if token_fail %}不正なトークンです。{% else %}パスワードリセット{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>このパスワード用リンクは無効となっています。</p>
            <a href="{{ passwd_reset_url }}">パスワードリセット再申請</a>
        {% else %}
            {% if form %}
                <form action="{{ action_url }}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">変更</button>
                </form>
            {% else %}
                <p>パスワードは変更されています。</p>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}